vim/.netrwhist
vim/bundle/*
vim/bundle/!.gitignore
vim/bundle/!vundle
#vim/bundle/numbers.vim
#vim/bundle/tagbar
#vim/bundle/vim-arduino-ino
#vim/bundle/vim-fugitive
#vim/bundle/vim-go
#vim/bundle/vim-less
#vim/bundle/vim-javascript-syntax
#vim/bundle/javascript-libraries-syntax.vim
#vim/bundle/yajs.vim
#vim/bundle/php.vim/
#vim/bundle/phpcomplete-extended/
#vim/bundle/tabular/
#vim/bundle/unite.vim/
#vim/bundle/vimproc.vim/
#vim/bundle/editorconfig-vim/
#vim/bundle/vdebug/
